<section class="row get-started">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
  <h1>We are just putting the finishing touches to TermsCloud.</h1>
  <div class="row">
    <div class="col-sm-5 col-md-3 col-md-offset-1">
      <%= image_tag 'settings.png' %>
    </div>
    <div class="col-sm-8 col-md-7">
      <p>Let us know what you are after though and we will see what we can do (free of charge).</p>

    </div>
  </div>
</div>
