<section class="row thank-you">
<div class="col-sm-12">
  <h1 class="title-header text-center">Thank You!</h1>
</div>
  <div class="col-sm-4 col-sm-offset-2 ">
    <%= image_tag 'thank_you.png' %>
  </div>
  <div class="col-sm-4">
    <p>One of our sales representatives will be in touch shortly to discuss your requirements further.</p>
  </div>
</section>
