<section class="row thank-you">
<div class="col-sm-12">
  <h1 class="title-header text-center">Thank You!</h1>
</div>
  <div class="col-sm-4 col-sm-offset-2 ">
    <%= image_tag 'thank_you.png' %>
  </div>
  <div class="col-sm-4">
    <p>We will be in touch shortly to discuss your requirements further.  Should you have any questions in the meantime, please do not hesitate to contact us at info@termscloud.co.uk</p>
  </div>
</section>
