.common-footer {
  color: $terms-light-gray;
  a {
    color: $terms-light-gray;
  }
  margin: 30px 0;
  .social-icons {
    float: right;
    list-style: none;
    li {
      display: inline-block;
      margin-left: 5px;
    }
    img {
      width: 25px;
    }
  }
}
