.homepage-call-to-action {
  margin: 40px 0 50px;
  p  {
    color: $terms-blue;
    font-size: 16px;
  }

  form {
    margin-top: 30px;
    input { 
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    input[type='checkbox']{
      width: auto;
      margin-right: 10px;
      float: left;
    }
    label {
      font-size: 12px;
      color: $terms-light-gray;
    }
  }
}

.homepage-site-explanation {
  margin-bottom: 40px;
  header {
    margin-bottom: 40px;
    font-size: 15px;
  }
  img {
    display: block;
    margin: 0 auto 10px;
  }

}
