// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";


@import "variables";

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span, table, input, label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input, textarea {
  border-radius: 0;
  padding: 5px;
}



.flash-alert {
  border-radius: 0;
  position: absolute;
  margin-top: 10px;
}



// Common
@import "navbar";
@import "footer";
@import "typography";


// Pages
@import "homepage";
@import "get_started";
@import "contact";
@import "session/sign_in_form";

