// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";


@import "variables";

*{
  box-sizing: border-box;
}
.container { 
}

h1, h2, h3, h4, h5, h6, p, a, span, table, input, label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}



// Common
@import "navbar";
@import "footer";
@import "typography";


// Pages
@import "homepage";
@import "get_started";
