.header-navbar {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid #CCCCCC;
}

.burger {
  display: block;
  float: right;
  padding: 20px 20px 0;
}

.burger-strip {
  height: 3px;
  width: 30px;
  margin-bottom: 7px;
  background-color: $terms-blue;
  border-radius: 2px;
}

.mobile-nav {
  display: none;
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    display: block;
    border-bottom: 1px solid #CCCCCC;
    color: $terms-blue;
    padding: 20px;
    width: 100%

  }
}


.title-nav {
  margin-top: 40px;

  ul {
    float: right;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 10px 20px; 
    color: $terms-blue;
    &:hover{
      text-decoration: none;
      border-bottom: 1px solid $terms-blue;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
