<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Message from the contact form:</h1>
    <p>From: <%= @form[:name] %></p>
    <p>Email: <%= @form[:email] %></p>
    <p>Message: <%= @form[:contact_body] %></p>
  </body>
</html>

