
<footer class="row common-footer">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <p>&copy; TermsCloud 2015 | <%= link_to 'terms of use', '' %> | <%= link_to 'privacy policy', '' %></p>
  </div>
</footer>
